html {
  font-family: 'Roboto', sans-serif;
}

button,
input {
  font-family: inherit;
}

:root {
  /* --bg-color: WHITE;
  --font-color: #000;
  --border-color: red;
  --btn-font-color: #fff;
  --btn-bg-add-color: #00bfa5;
  --btn-bg-remove-color: #ff5252; */
}
